body {
    background-color: black;
}


#title {
    color: gray;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

.navigation {
    list-style-type: none;
    padding-bottom: 50px;
    border-radius: 12px;
}

a {
    -webkit-transition-duration: 1s;
    transition-duration: 1s;
    display: block;
    float: left;
    padding: 25px;
    color: white;
    text-decoration: none;
    border-radius: 12px;
}

a:hover {
    -webkit-transition-duration: 1s;
    transition-duration: 1s;
    background-color: gray;  
    color: black;
    border-radius: 20px;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border-radius: 12px;
    object-position: 15% ;
}